@charset "utf-8";
/* ----------------------------------------------------------
	# 삼성생명 다이렉트 계산기 리뉴얼 20171101
	# 컨텐츠 페이지 : 상품상세 연금 계산기
---------------------------------------------------------- */

.product-basic {padding:25px 0 40px 0}
.product-basic > .info {width:638px;}
.product-basic.page-change > .info .com1 .bg-txt-pen{display:inline-block; width:180px; margin-left:-1px; color:#465064; background:url(../images/com/bg_txt_pen.png) no-repeat 0 100%;}

.calculator-form {width:332px; margin-top:40px;}
.calculator-form .heading {padding:5px 25px 19px; background:url(../images/com/cal_main2.png) no-repeat 100% 10px;}
.calculator-form .heading h2 {font-size:22px; line-height:38px;}
.calculator-form .heading h2 span {font-family:"SECGCL"}
.calculator-form .heading h2 strong {font-size:34px; color:#475164; letter-spacing:-1px;}

.calculator-form .form .text {background:#fff; border-radius:4px; border:1px solid #0576e8;}
.calculator-form .form label em {color:#202733; font-family:"SECGCM"}
.calculator-form .form {background:url(../images/com/cal_main2.png) no-repeat 0 100%;}
.calculator-form .form ul {width:268px; padding:0 24px;}
.calculator-form .form .text, 
.calculator-form .form .select-box {width:245px; padding:10px 10px 12px;}
.calculator-form .form-wrap1 .label {left:40px;}
.calculator-form .form .label-radiobtn.gender > span label {width:117px; margin:7px 0 0 0; color:#455560; line-height:46px; background-position:100% 1px;}
.calculator-form .form .label-radiobtn.gender > span label.on {color:#fff; background-position:100% -45px; background-color:#4081e3;}
.calculator-form .form .label-radiobtn.gender > span:first-child label {margin-right:6px; background-position:0 -45px;}
.calculator-form .form .label-radiobtn.gender > span:first-child label.on {background-position:0px 2px;}
.calculator-form .form .btn {width:258px; margin:12px 32px 0; padding:0 0 0 15px; background:url(../images/com/cal_btn.png) no-repeat 0 0;}
.calculator-form .form .btn span {width:248px; background:url(../images/com/cal_btn.png) no-repeat 0 0;}
.calculator-form .form .cal-event-bubble {display:inline-block; position:absolute; bottom:-53px; left:50%; width:183px; height:42px; margin-left:-111px; padding:18px 20px 9px; background:#fff url(../images/com/bg_event_bubble.png) no-repeat 0 100%; zoom:1;}
.calculator-form .form .cal-event-bubble:after {display:block; content:""; clear:both;}
.calculator-form .form .cal-event-bubble .cal-event-img {float:left; width:28px; height:41px;}
.calculator-form .form .cal-event-bubble .cal-event-txt {float:right; width:146px; padding-top:3px;}
.calculator-form .form .cal-event-bubble .cal-event-txt p {font-size:12px; font-family:"SECGCL"; color:#4f586b; letter-spacing:-1px}
.calculator-form .form .cal-event-bubble .cal-event-txt p strong {color:#fe5f4a; font-weight:normal;}

.result-info-area {width:890px; height:195px; margin:30px auto; zoom:1;}
.result-info-area:after {display:block; content:""; clear:both;}
.result-info-area .result-info {float:left; width:652px; padding-left:20px;}
.result-info-area .result-info .info-header {font-size:22px; line-height:36px; color:#575d6b; font-family:"SECGCL"; letter-spacing:-1px; padding-bottom:10px;}
.result-info-area .result-info .info-header strong {font-family:"SECGCM"; font-weight:normal; color:#0096eb;}
.result-info-area .result-info .info-header strong span{letter-spacing:0;}
.result-info-area .result-info .info-header .tooltip-area {margin-top:-3px;}

.result-info-area .result-info .info-content {font-size:32px; line-height:46px; font-family:"SECGCL"; color:#575d6b;letter-spacing:-1px;}
.result-info-area .result-info .info-content strong {display:inline-block; font-family:"SECGCM"; font-weight:normal; vertical-align:top;}
.result-info-area .result-info .info-content strong span {color:#fc4349;}
.result-info-area .result-info .info-content .annually-refund {color:#fc4349; background:url(../images/com/bg_annually_pen.png) no-repeat 100% 100%;}

.result-info-area .result-info .info-footer .tit{color: #898f9e; padding: 4px 0; letter-spacing: -1px;}

.result-info-area .join-refund {float:right; width:210px;}
.result-info-area .join-refund a, 
.result-info-area .join-refund span {display:block;}
.result-info-area .join-refund .join-ban {margin-top:-14px;}

.product-result {}
.product-result.open {display:block !important;}
.graph-data2 {width:854px; min-height:28px; padding:0 36px 0 0;}
.graph-data2 dd ul li .label {top:auto; bottom:36px; height:20px; margin:0; line-height:20px; font-size:14px; color:#424242; border:none;}
.graph-data2 dd ul li .label span {background:none;}
.graph-data2 dd ul li:first-child .label {margin:0; background:url(../images/com/label_edge_left.png) no-repeat 0 100%;}
.graph-data2 dd ul li.c1 .label {margin-left:-6px; background:url(../images/com/label_edge_right.png) no-repeat 0 100%;}
.graph-data2 dd ul li.c2 .label {background:url(../images/com/label_edge_left.png) no-repeat 0 100%;}
.graph-data2 dd ul li .graphTitle2 span em {font-family:"SECGCM"}
.graph-data2 dd ul li.last .label {left:auto;right:0;margin-right:-10px;background: none;}
.graph-data2 dd ul li.last .label span:after{background: url(../images/com/label_edge_right.png) no-repeat 100% 0;content: '';display: inline-block;width: 12px;height: 12px; vertical-align: middle;}

.direct-planning {width:970px; margin:0 auto;}
.direct-planning .result-area{padding:40px 0 60px; background:#fff; border-radius:0 0 4px 4px;border: 1px solid #fff;}
.re-calculator-form {width:825px; height:74px; margin:0 auto; padding:22px 31px 58px 34px; background:url(../images/com/bg_recalculator.gif) no-repeat 0 0; zoom:1;}
.re-calculator-form:after {display:block; content:""; clear:both;}
.re-calculator-form ul {float:left; width:638px; zoom:1;}
.re-calculator-form ul:after {display:block; content:""; clear:both;}
.re-calculator-form ul li {float:left;}
.re-calculator-form ul li + li {margin-left:12px;}
.re-calculator-form ul li + li.how-to-get {margin-left:22px;}
.re-calculator-form .re-cal-tit {display:block; margin-bottom:2px; padding:0 3px; font-size:14px; line-height:30px; font-family:'SECGCM'; font-weight:normal; color:#565d6d;}

.re-calculator-form .input-wrap, 
.re-calculator-form .select-box {position:relative; border-radius:0; border: 1px solid #565d6d; background:#fff}
/*.re-calculator-form .input-wrap:after,*/ 
.re-calculator-form .select-box a{display:block; content:""; position:absolute; top:0; right:2px; width:46px; height:39px; background:url(../images/com/bg_form_arrow.png) no-repeat 0 0;}

.re-calculator-form .input-wrap {width:146px; height:26px; padding:9px 5px 6px;}
.re-calculator-form .input-wrap .label {font-family:"SECGCM"; line-height:21px; color:#575d6b; font-size:16px; vertical-align:middle;}
.re-calculator-form .select-box {width:146px; padding: 10px 12px 10px 8px;overflow: hidden;display: block;}
.re-calculator-form .select-box select, 
.re-calculator-form input.text {height:21px; padding:0 0 0 10px; line-height:21px; color:#575d6b; font-size:16px; font-family:'SECGCM'; font-weight:normal; background:none; border:none;}
.re-calculator-form .select-box select {width:100%;background: url(../images/com/arr3_20x10_3c7ff2.png) no-repeat 100% 50%; border: none;box-shadow: none;background-color: transparent;-webkit-appearance: none;-moz-appearance: none; appearance: none;}
.re-calculator-form input.text {width:92px; text-align:right;}
.re-calculator-form .re-calcul-btn {float:right; width:180px; height:66px; margin-top:6px; padding:23px 28px 22px; text-align:center; border-radius:4px;background: #565d6d;}
.re-calculator-form .re-calcul-btn span {display:inline-block; padding-right:27px;color:#fff; font-size:16px; line-height:22px; font-family:'SECGCM'; font-weight:normal; background:url(../images/com/bg_icon_rotate2.png) no-repeat 100% 50%;}
.re-calculator-form .tooltip-area {width:75px; color:#3c4449;}
.re-calculator-form .tooltip-area > span {font-size:16px; line-height:20px; font-family:'SECGCM'; font-weight:normal;}
.re-calculator-form .tooltip-area .icon-tip {position:absolute; top:2px; left:100%;}
.re-calculator-form .tooltip-area .tooltip {margin-left:28px;}

.bottom-option-area {width:890px; margin:28px auto 0; zoom:1;}
.bottom-option-area:after {display:block; content:""; clear:both}
.bottom-option-area .txt-info {float:left;}
.bottom-option-area .view-pop {display:inline-block; margin-left:15px; vertical-align:top;}
.bottom-option-area .view-pop a {padding-right:10px; margin-right:10px; background:url(../images/com/view_arr1.png) no-repeat 100% 50%;}
.bottom-option-area .view-pop a span {margin-right:0; padding-right:0; color:#455560; font-size:14px;  font-family:'SECGCM'; border-bottom:1px solid #565d6d; background:none;}
.bottom-option-area .util-btn {float:right; margin-top:-5px;}
.bottom-option-area .util-btn a {display:inline-block; width:100px; padding:7px 0 6px; text-align:center; font-size:0; background:#f6f7f9; border:1px solid #d4d5d7; border-radius:4px;}
.bottom-option-area .util-btn a + a {margin-left:6px;}
.bottom-option-area .util-btn a + a + a{margin-left:6px;}
.bottom-option-area .util-btn a span {display:inline-block; padding-right:23px; font-size:13px; line-height:16px; color:#333; font-family:'SECGCL';}
.bottom-option-area .util-btn .btn-post-mail span {background:url(../images/com/bg_icon_mail.png) no-repeat 100% 50%;}
.bottom-option-area .util-btn .btn-result-save span {background:url(../images/com/bg_icon_download.png) no-repeat 100% 50%;}
.bottom-option-area .util-btn .btn-result-print span {background:url(../images/com/bg_icon_print.png) no-repeat 100% 50%;}

.bottom-event-ban {position:relative; width:890px; margin:38px auto 0; padding-top:22px; background:url(../images/com/bottom_dotted_line.png) repeat-x 0 0;}
.bottom-event-ban a {display:block; position:absolute; bottom:0; right:0; width:210px; height:40px}

.box-advice {position:relative; width:970px; padding:0 0 60px; margin-top:20px; border-radius:4px}
.box-advice .box-row {width:749px; margin-left:230px; zoom:1;}
.box-advice .box-row:after {display:block; content:""; clear:both;}
.box-advice .case1 h2 {left:101px; bottom: 61px;background:url(../images/com/visual_advice.png) no-repeat 0 0;}
.box-advice .case1 h2 span {background:url(../images/com/icon_advice.png) no-repeat 0 0;}
.box-advice .box-row .advice-txt-box {float:left; width:280px; padding-top:15px; font-size:14px; line-height:20px; color:#455560; font-family:'SECGCL';}
.box-advice .box-row .advice-txt-box .advice-tit {font-size:16px; line-height:20px; font-family:'SECGCM'; font-weight:normal; color:#0096eb;}
.box-advice .box-row .advice-txt-box p {margin:0; padding:0;}
.box-advice .box-row .advice-tel {float:right; width:452px; padding-top:11px; font-family:"Malgun Gothic";}
.box-advice .box-row .advice-tel strong {display:inline-block; margin-left:8px; font-weight:bold; font-size:28px; line-height:34px; color:#0096eb; vertical-align:middle;}
.box-advice .box-row .advice-tel span {display:inline-block; margin-left:8px; font-size:14px; line-height:18px; color:#455560; letter-spacing:-1px; vertical-align:middle;}

.view-pop {display:inline-block; margin-left:15px; vertical-align:top;}
.view-pop a {padding-right:10px; margin-right:10px; background:url(../images/product/view_arr1.html) no-repeat 100% 50%;}
.view-pop a span {margin-right:0; padding-right:0; color:#455560; font-size:14px;  font-family:'SECGCM'; border-bottom:1px solid #565d6d; background:none;}

.product-result-tab { width:970px; height:70px; margin:0 auto; padding-top:60px; }
.product-result-tab div { display:block; width:485px; height:100%; float:left; background:url(../images/product/result_tab01_off.png) no-repeat 0 0; text-indent:-9999px; }
.product-result-tab div.on { background:url(../images/product/result_tab01_on.png) no-repeat 0 0; }
.product-result-tab div + div { background:url(../images/product/result_tab02_off.png) no-repeat 0 0; }
.product-result-tab div + div.on { background:url(../images/product/result_tab02_on.png) no-repeat 0 0; }

.recommend-planning { position:relative; width:782px; margin:0 auto; padding:40px 94px 150px; background:#fff; }
.recommend-planning:after { content:""; display:block; clear:both; }
.recommend-planning h3 { margin-bottom:45px; font-size:28px; text-align:center; }
.recommend-planning h3 span { color:#4081e3; }
.recommend-planning .section { position:relative; width:370px; height:356px; }
.recommend-planning .section h4 { margin-top:50px; text-align:center; font-family:"SECGCM"; font-size:22px; line-height:28px; letter-spacing:-1px; }
.recommend-planning .section h4 span { color:#4081e3; }
.recommend-planning .section a { display:block; position:absolute; bottom:0; left:0; width:100%; height:50px; text-align:center; line-height:50px; font-family:"SECGCM"; font-size:16px; background:#4081e3; }
.recommend-planning .section a span { padding-right:16px; }
.recommend-planning .sect01 { float:left; background:#f8f8ff url(../images/product/result_tab02_section01_bg.png) no-repeat center 137px;  }
.recommend-planning .sect01 a { color:#fff;}
.recommend-planning .sect01 a span { color:#b7f4fe; padding-right:16px; background:url(../images/product/result_tab02_section01_arrow.png) no-repeat right 1px;  }
.recommend-planning .sect02 { float:right; background:#f8f8ff url(../images/product/result_tab02_section02_bg.png) no-repeat center 137px;  }
.recommend-planning .sect02 a { color:#fff; }
.recommend-planning .sect02 a span { color:#b7f4fe; padding-right:16px; background:url(../images/product/result_tab02_section02_arrow.png) no-repeat right 1px;  }

.product-result-popup { position:absolute; top:45px; left:80px; width:808px; background:#fff; }
.product-result-popup h4 { height:70px; line-height:70px; border-radius:5px 5px 0 0; text-align:center; font-size:20px; color:#fff; background:#4081e3; }
.product-result-popup h4 span { font-family:"SECGCM"; }
.product-result-popup .inner { position:relative; padding:52px 40px 62px 40px; border:1px solid #4081e3; border-top:none; border-radius:0 0 5px 5px; }
.product-result-popup .inner:after { content:""; display:block; clear:both; }
.product-result-popup .inner .deco { position:absolute; bottom:-23px; left:520px; }
.product-result-popup .popup_close { position:absolute; top:27px; right:40px; }
.product-result-popup .view-pop { position:absolute; top:22px; right:20px; }
.product-result-popup .result-info { float:left; width:435px; height:255px; background:url(../images/product/result_tab02_popup_01_bg.png) no-repeat 198px bottom; }
.product-result-popup .result-info .text { color:#575d6b; font-size:20px; letter-spacing:-1px; }
.product-result-popup .result-info .text span { font-weight:bold; color:#4081e3; }
.product-result-popup .result-info .text span + span { font-family:"SECGCM"; font-weight:normal; color:#575d6b; }
.product-result-popup .result-info .tip { position:absolute; left:40px; bottom:78px; width:194px; font-size:14px; color:#575d6b;border:1px solid #e5e8eb;border-radius:5px;}
.product-result-popup .result-info .tip p:first-child { font-size:16px; font-family:"SECGCM"; color:#4081e3;text-align:center; background-color: #d5d8db; padding:4px 0 3px 0 ; }
.product-result-popup .result-info .tip p+p{padding:10px 10px 0 10px; font-size:13px;background:#fafcff;}
.product-result-popup .result-info .tip p + p + p { padding-top:2px; padding-left:32px;padding-bottom:6px; font-weight:bold; background:url(../images/product/result_icon_tel.png) 11px 6px no-repeat #fafcff; border-radius: 5px; }
.product-result-popup .result-info .tip p + p + p strong{font-size:15px;}
.product-result-popup .result-info .guide { position:absolute; left:40px; bottom:30px; font-size:13px; letter-spacing:-1px; }
.product-result-popup .result-calc { float:right; position:relative; width:250px; height:220px; padding:25px 18px 25px; margin-top:30px; border:1px solid #dadee4; background:#fafcff;  }
.product-result-popup .result-calc .title { padding-bottom:6px; text-align:center; color:#3c4449; font-size:16px; font-family:"SECGCM"; }
.product-result-popup .result-calc .title span { color:#d4d5d7; font-size:16px; }
.product-result-popup .result-calc ul li { margin:10px 0; padding-left:20px;padding-bottom:8px; background: url(../images/product/result_icon_chk.png) 0 5px no-repeat;font-size:15px; border-bottom:1px dashed #d8dce1; }
.product-result-popup .result-calc ul li strong { float:right; }
.product-result-popup .result-calc ul li + li + li { font-family:"SECGCM"; }
.product-result-popup .result-calc ul li + li + li strong { color:#4081e3; }
.product-result-popup .result-calc .text01 { color:#4081e3; padding-top: 6px;text-align: center;font-size: 20px;}  
.product-result-popup .result-calc .text02 { font-size:15px; font-family:"SECGCM"; background:url(../images/product/result_tab02_popup_underline01.png) no-repeat 50% bottom;text-align:center;}  
.product-result-popup .result-calc .text02 strong { font-weight:normal; font-size:17px; color:#fc4449; }  
.product-result-popup .result-calc .refund { position:absolute; bottom:8px; right:-24px; width:65px; height:47px; padding-top:16px; color:#fff; text-align:center; font-family:"SECGCM"; line-height:16px; background:url(../images/product/result_tab02_popup_bg.png) no-repeat 0 0; }
.product-result-popup .result-calc .refund span { font-family:"SECGCL"; font-weight:bold; }
.product-result-popup .btn_area { margin-top:26px; }
.product-result-popup .btn_area a { display:inline-block; width:388px; height:47px; text-align:center; font-size:16px; line-height:47px; font-family:"SECGCM"; }
.product-result-popup .btn_area .btn_change { background:#fff; color:#455560; border:1px solid #606879; border-radius:5px; }
.product-result-popup .btn_area .btn_change span { padding-right:25px; background:url(../images/product/result_icon_rotate.png) no-repeat right 0; }
.product-result-popup .btn_area .btn_join { float:right; background:#fe5f4a; color:#fff; border:1px solid #fe5f4a; border-radius:5px; }
.product-result-popup .btn_area .btn_join span { padding-right:25px; background:url(../images/product/result_tab02_popup_arrow.png) no-repeat right 0; }
.product-result-popup.popup02 .result-info { background:url(../images/product/result_tab02_popup_02_bg.png) no-repeat 0 72px; }
.product-result-popup.popup02 .result-info.age50  { background-image:url(../images/product/result_tab02_popup_02_bg.png) }
.product-result-popup.popup02 .result-info.age40  { background-image:url(../images/product/result_tab02_popup_03_bg.png) }
.product-result-popup.popup02 .result-info.age30  { background-image:url(../images/product/result_tab02_popup_04_bg.png) }
.product-result-popup.popup02 .result-info.age20  { background-image:url(../images/product/result_tab02_popup_05_bg.png) }
.product-result-popup.popup02 .result-info .text .point { color:#4081e3; }
.product-result-popup.popup02 .result-info .guide { position:absolute; left:40px; bottom:42px; font-size:13px; letter-spacing:-1px; }
.product-result-popup.popup02 .result-calc .title { background:none;}
.product-result-popup.popup02 .result-calc .text01 {padding-left:0; background:none; color:#4081e3; font-size: 20px;text-align: center;}
.product-result-popup.popup02 .result-calc .text02 { background-image:url(../images/product/result_tab02_popup_underline02.png) }
.product-result-popup.popup02 .result-calc .text02 strong { font-size:16px; }


.page-product.product5 #uiProductResult2.view-pop a span{border:none;}

/*저축보험 계산결과 텝 부분 숨김*/
.page-product.product6 .product-result-tab{height:0; text-indent:-9999em; margin-top:60xp;}
.page-product.product6 .graph-data2{width: 890px;}
.page-product.product6 .graph-data2 dd ul li.block > div{background: #ffffff;}

/*저축보험 계산결과 입력창 수정 : 20180401 상품개정때 반영*/
.page-product.product6 .re-calculator-form li > div.input-wrap{width: 146px;margin-top:-1px;}
.page-product.product6 .re-calculator-form ul li + li + li{margin-left:20px;}
.page-product.product6 .label-radiobtn > span{margin-top:-1px;}
.page-product.product6 .label-radiobtn > span:first-child{margin-left:-1px; margin-top:-1px;}
.page-product.product6  .re-calculator-form .label-radiobtn > span:first-child label{border-radius: 0;}
.page-product.product6  .re-calculator-form .label-radiobtn > span:last-child label{border-radius: 0;}
.page-product.product6 .label-radiobtn > span label{padding:4px 8px 0; min-width: 42px;}
.page-product.product6 .result-info-area .result-info .info-content .annually-refund{background: none;}
.page-product.product6 .result-info-area .result-info .info-content .annually-refund span{background: url(../images/com/bg_annually_pen.png) no-repeat 0 100%; overflow: hidden;}
.page-product.product6 #uiProductResult2 .view-pop a span{border:none;}
.page-product.product6 .direct-planning .result-area{padding:40px; background:#fff; border-radius:4px;}
.re-calculator-form .select-box.select-fixed:after{content:'';display:inline-block;width:26px;height: 26px;background:#eaecef;position: absolute;top: 9px;right: 3px;}

.label-radiobtn > span label[disabled="disabled"],  
.label-radiobtn > span label.disabled{color: #b8b5b8;background: #f1f3f4;cursor: default;}
.label-radiobtn > span label.on[disabled="disabled"]:after,
.label-radiobtn > span label.on.disabled:after{content: none;}

/*저축보험 계산결과 입력창 수정 : 버튼클릭시 ui 변경*/
.page-product.product6 .direct-planning .result-area .re-calculator-form{position:relative; background:#eaecef; border-radius:5px;}
.page-product.product6 .direct-planning .result-area .re-calculator-form:after{content: ''; display: inline-block; width:180px;height: 30px; background:url(../images/com/bg_recalculator.gif) no-repeat 8% 100%; position: absolute;bottom: -30px; left:70px;}
.page-product.product6 .direct-planning .result-area .re-calculator-form .re-calcul-btn{margin-top:30px;}
.page-product.product6 .direct-planning .result-area .result-info-area{margin:60px auto 30px;}
.label-btn2.col7 label:nth-child(11), .label-btn2.col7 label:nth-child(13) ,.label-btn2.col7 label:nth-child(15){margin-top:-1px;}
.label-btn2.col7 label{width:20px;}

/*연금보험 계산결과 텝 부분 숨김*/
.page-product.product4 .product-result-tab{height:0; text-indent:-9999em; margin-top:60xp;}