@charset "utf-8";
/* ----------------------------------------------------------
	# 삼성생명 다이렉트 리뉴얼 2016
	# 컨텐츠 페이지 : 제휴스타일
---------------------------------------------------------- */
/* ----------------------------------------------------------
	LAYOUT : header
---------------------------------------------------------- */
#header {width:100%;height:auto;margin:0;position:static;background:#f8f8f8;text-align:left;}
#header .logo {position:static !important;width:970px;height:26px;margin:0 auto;padding:17px 0;background:url(../images/com/promotion_layout_pattern.png) no-repeat 100% 0;}
#header .nav-util,
#header .section-notice,
#header .nav-gnb {display:none;}

/* ----------------------------------------------------------
	LAYOUT : footer
---------------------------------------------------------- */
#footer .section-mark,
#footer .section-sitemap,
#footer .section-family {display:none;}

/* ----------------------------------------------------------
	페이지 숨김컨텐츠
---------------------------------------------------------- */
/* 페이지이동, 퀵메뉴 */
#navPathGnb,
#uiNavFloat {display:none;}

/* 페이지이동, 퀵메뉴, 상품탭 */
/*.result-area .txt-info,*/
.result-area .label-mode,
.result-area .area-util,
.product-other {display:none;}

/* 상품상세 */
.product-detail {display:none;}

/* 상단고정컨텐츠 */
.product-skip {display:none;}

/* ----------------------------------------------------------
	변경스타일
---------------------------------------------------------- */
/* 해당영역통이미지 미사용으로 주석처리함
.product-basic {padding:40px 0 35px;background:none !important;}
.product-basic .info {padding:0;}
*/

.page-product.product1 .product-basic .calculator-form,
.page-product.product2 .product-basic .calculator-form,
.page-product.product3 .product-basic .calculator-form {margin:20px 0;}

/* ----------------------------------------------------------
	추가스타일
---------------------------------------------------------- */
.product-tab2 {height:56px;background:#0096eb;}
.product-tab2 ul {overflow:hidden;width:970px;margin:0 auto;}
.product-tab2 li {float:left;width:25%;padding:0;text-align:center;}
.product-tab2 li a {display:block;border-right:1px solid #4cb6f0;line-height:56px;font-size:18px;font-family:"SECGCM";}
.product-tab2 li a span {display:block;color:#fff;}
.product-tab2 li:first-child a {border-left:1px solid #4cb6f0;}
.product-tab2 li.on {background:#465064;}
.product-tab2 li.on a {border-color:#465064;}
.product-tab2 li:first-child.on a {border-left:1px solid #465064;}
.product-tab2 a:hover {text-decoration:none;}

.product-tab2.col2 li {width:50%;}
.product-tab2.col3 li {width:33%;}
.product-tab2.col3 li:first-child {width:34%;}
.product-tab2.col4 li {width:25%;}
.product-tab2.col5 li {width:20%;}
.product-tab2.col6 li {width:17%;}
.product-tab2.col6 li:first-child {width:15%;}
.product-tab2.col7 li {width:14.2%;}
.product-tab2.col8 li {width:12.5%;}
.product-tab2.col9 li {width:11.1%;}

.product-promotion + .product-tab2 {margin-top:-5px;}
.product-promotion {text-align:center;border-bottom:5px solid #0096eb;}

/* ----------------------------------------------------------
	온정이벤트
---------------------------------------------------------- */
.evt_wrap{width:970px;height:1739px;border:0;list-style: none; margin: 0 auto;position: relative;overflow: hidden;}
.evt_wrap .evt_bg1{width:100%; height:619px; background:url(../images/event/onjung1.jpg) no-repeat 0 0;}
.evt_wrap .evt_bg2{width:100%; height:160px; background:url(../images/event/onjung2.jpg) no-repeat 0 0;}
.evt_wrap .evt_bg2 .evt_num {position: relative;}
.evt_wrap .evt_bg2 .evt_num .num1{display:block; position: absolute;left:324px; width: 700px;font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 72px; line-height: 160px; color:#485156; text-align: left; letter-spacing: 30px; }
.evt_wrap .evt_bg2 .evt_num .num2{display:block; position: absolute;right:204px; width: 700px;font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 72px; line-height: 160px; color:#485156; text-align: right; letter-spacing: 30px; }
.evt_wrap .evt_bg3{width:100%; height:582px; background: url(../images/event/onjung3.jpg) no-repeat 0 0;}
.evt_wrap .evt_bg4{width:100%; height:378px; background: url(../images/event/onjung4.jpg) no-repeat 0 0;}

/* ----------------------------------------------------------
	5월이벤트
---------------------------------------------------------- */
#marevent{border-bottom:1px solid #e7e7e7;}
	
	#marevent div.con{width:1100px;margin:0 auto;}

	#marevent #mar_header{width:1100px;margin:0 auto;overflow:hidden;}
		#marevent #mar_header h1{float:left;}
		#marevent #mar_header p{float:right;}

	#marevent #mar_main{min-width:1100px;height:760px;}
		#marevent #mar_main .tit{padding:37px 0 52px;text-align:center;}
		#marevent #mar_main .txt{float:left;}

		#marevent #mar_main div.box{float:right;width:550px;height:447px;background:url(../../../../landing/direct/annuity/images/event/170601_viralevent/mainbox.gif) no-repeat center top;}

		#mar_main ul.form li:nth-child(1) label.label,
		#mar_main ul.form li:nth-child(2) span.label,
		#mar_main ul.form li:nth-child(3) label,
		#mar_main ul.form li:nth-child(4) label,
		#mar_main ul.form li:nth-child(5) label{visibility:hidden;overflow:hidden;position:absolute;top:-1px;left:-1px;width:1px;height:1px;font-size:0;line-height:0;}

		#mar_main ul.form li:nth-child(1) span.placeholder{position:absolute;display:block;left:14px;top:10px;width:271px;z-index:1;color:#969595;}

		#mar_main ul.form{padding:184px 0 0 81px;}
		#mar_main ul.form li{margin-bottom:6px;}

		#mar_main ul.form li input.text {height:24px;color:#666;}
		input.text:focus, input.text.focus {border-color:#b8b5b8;color:#969595;}
		input.text[disabled="disabled"] {background-color:#b8b5b8;color:#969595;}

		#mar_main ul.form li input.text {width:271px;border-radius:0;line-height:24px;border:1px solid #dfdfdf;}
		#mar_main ul.form li .form-wrap1 .label {top:5px;}
		#mar_main ul.form li .form-price .label{right:auto;left:0;}

		#mar_main ul.form li .form-price{width:241px;height:39px;}
		#mar_main ul.form li .form-price input.text{width:181px;border:0;background:transparent;text-align:left;margin:-10px 0 0 -14px;}
		#mar_main ul.form li .form-price .placeholder{position:absolute;display:block;left:14px;top:12px;width:271px;color:#969595;}

		/* 폼객체 : 라디오버튼 : 남녀선택버튼 */
		#mar_main .label-radiobtn.gender > span.checked label {border-color:#dfdfdf;text-indent:-9999px;background:url(../../../../landing/direct/annuity/images/event/170601_viralevent/radio1_on.gif) no-repeat center 40%;}
		#mar_main .label-radiobtn.gender > span label {width:128px;height:35px;margin-right:2px;border:1px solid #dfdfdf;border-radius:0;text-indent:-9999px;background:url(../../../../landing/direct/annuity/images/event/170601_viralevent/radio1.gif) no-repeat center 40%;}
		
		#mar_main .label-radiobtn.gender > span:nth-child(1).checked label {background:url(../../../../landing/direct/annuity/images/event/170601_viralevent/radio1_on.gif) no-repeat center 40%;}
		#mar_main .label-radiobtn.gender > span:nth-child(1) label {background:url(../../../../landing/direct/annuity/images/event/170601_viralevent/radio1.gif) no-repeat center 40%;}
		
		#mar_main .label-radiobtn.gender > span:nth-child(2).checked label {background:url(../../../../landing/direct/annuity/images/event/170601_viralevent/radio2_on.gif) no-repeat center 40%;}
		#mar_main .label-radiobtn.gender > span:nth-child(2) label {background:url(../../../../landing/direct/annuity/images/event/170601_viralevent/radio2.gif) no-repeat center 40%;}

		#mar_main .select-box{width:288px;height:25px;border-radius:0;border:1px solid #dfdfdf;}
		#mar_main .select-box select{width:100%;height:25px;padding-left:5px;color:#969595;}

		#mar_main .btn-area{display:block;width:302px;height:55px;margin:14px 0 0 81px;background:url(../../../../landing/direct/annuity/images/event/170601_viralevent/mainbox_btn.gif) no-repeat 0 0;cursor:pointer;}
		#mar_main .btn-area span{display:block;width:302px;height:55px;text-indent:-99999px;}

	#marevent #mar_con1{clear:both;width:100%;background:#cbe7f8;min-width:1100px;}
		#marevent #mar_con1 div.con{height:870px;background:url(../../../../landing/direct/annuity/images/event/170601_viralevent/section1.gif) no-repeat center 70px;}

	#marevent #mar_con2{width:100%;background:url(../../../../landing/direct/annuity/images/event/170601_viralevent/section2.gif) no-repeat center top;min-width:1100px;}
		#marevent #mar_con2 div.con{height:922px;}
	
	#marevent #mar_con2a{width:100%;background:url(../../../../landing/direct/annuity/images/event/170601_viralevent/section2a.gif) no-repeat center top;min-width:1100px;}
		#marevent #mar_con2a div.con{height:505px;position:relative;}
		#marevent #mar_con2a a.btn1{position:absolute;left:205px;top:376px;}
		#marevent #mar_con2a a.btn2{position:absolute;left:565px;top:376px;}

	#marevent #mar_con2b{width:100%;background:url(../../../../landing/direct/annuity/images/event/170601_viralevent/section2b.gif) no-repeat center top;min-width:1100px;}
		#marevent #mar_con2b div.con{height:519px;position:relative;}
		#marevent #mar_con2b a.btn{position:absolute;left:385px;top:392px;}

	#marevent #mar_con2c{width:100%;background:url(../../../../landing/direct/annuity/images/event/170601_viralevent/section2c.gif) no-repeat center top;min-width:1100px;}
		#marevent #mar_con2c div.con{height:688px;position:relative;}
		#marevent #mar_con2c a.btn1{position:absolute;left:55px;top:552px;}
		#marevent #mar_con2c a.btn2{position:absolute;left:375px;top:552px;}
		#marevent #mar_con2c a.btn3{position:absolute;left:715px;top:552px;}

	#marevent #mar_con3{height:530px;background:url(../../../../landing/direct/annuity/images/event/170601_viralevent/mar_con3bg.gif) repeat-x left top;min-width:1100px;}
		#marevent #mar_con3 ul{width:1020px;margin:0 auto;text-align:center;}
		#marevent #mar_con3 ul li.tit{padding:50px 0 52px;}
		#marevent #mar_con3 ul li.box1{width:340px;height:98px;margin:0 auto 10px;padding:38px 0 0 680px;background:url(../../../../landing/direct/annuity/images/event/170601_viralevent/section3_box1.png) no-repeat left top;}
		#marevent #mar_con3 ul li.box2{width:340px;height:98px;margin:0 auto 10px;padding:38px 0 0 680px;background:url(../../../../landing/direct/annuity/images/event/170601_viralevent/section3_box2.png) no-repeat left top;}
		#marevent #mar_con3 p{float:right;padding-top:58px;}

	#marevent #mar_con4{background:#ffff;min-width:1100px;}
		#marevent #mar_con4 dl{width:1060px;margin:0 auto;padding:62px 0;text-align:center;}

	/* layer */
	#marevent .pop{position:fixed;top:0;left:0;width:100%;height:100%;display:none;z-index:9999;}
	#marevent .pop .bg{position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:.5;filter:alpha(opacity=50);}
	#marevent .pop .close{position:absolute;right:0;top:0;}

	#marevent #layer_pop1 .popup_box{width:654px;height:655px;position:absolute;left:50%;top:50%;margin:-327px 0 0 -326px;background:url(../../../../landing/direct/annuity/images/event/170601_viralevent/pop1_bg.gif) no-repeat left top;}
		#marevent #layer_pop1 div.popcon{width:610px;}
		#marevent #layer_pop1 div.popcon p{padding-top:20px;text-align:center;font-size:20px;line-height:120%;font-weight:bold;letter-spacing:0;}
		#marevent #layer_pop1 div.popcon p .txt1{color:#1682e5;}
		#marevent #layer_pop1 div.popcon p .txt2{color:#fe5f4a;}
		#marevent #layer_pop1 div.popcon ul{position:absolute;top:175px;left:300px;width:100px;text-align:right;font-size:25px;line-height:120%;color:#1682e5;font-weight:bold;}
		#marevent #layer_pop1 div.popcon ul li:nth-child(1){color:#363636;}
		#marevent #layer_pop1 div.popcon ul li:nth-child(2){padding:17px 0 3px;}
		#marevent #layer_pop1 div.popcon ul li:nth-child(4){padding-top:4px;}

		#marevent #layer_pop1 div.popcon .btnarea{padding-top:480px;padding-right:0;text-align:center;}

	#marevent #layer_pop2 .popup_box{width:654px;height:550px;position:absolute;left:50%;top:50%;margin:-275px 0 0 -326px;background:url(../../../../landing/direct/annuity/images/event/170601_viralevent/pop2_bg.gif) no-repeat left top;}
		#marevent #layer_pop2 ul{padding:65px 0 0 182px;}
		#marevent #layer_pop2 ul li{padding-bottom:10px;}
		#marevent #layer_pop2 ul li input{width:308px;height:34px;border:1px solid #cee7f0;}
		#marevent #layer_pop2 ul li select{width:97px;height:34px;border:1px solid #cee7f0;}
		#marevent #layer_pop2 ul li:nth-child(2) input{width:208px;height:32px;}
		
		#marevent #layer_pop2 .agree{width:460px;height:138px;margin:80px 0 3px 60px;padding:15px;line-height:150%;overflow-y:scroll;}
		#marevent #layer_pop2 .ag_sel{text-align:center;margin:0 20px 12px 0;}
		#marevent #layer_pop2 .ag_sel label{display:inline-block;width:110px;height:30px;padding-top:10px;text-align:left;}

		#marevent #layer_pop2 div.popcon .btnarea{text-align:center;padding-right:44px;}

	#marevent #layer_pop3 .popup_box{width:654px;height:440px;position:absolute;left:50%;top:50%;margin:-220px 0 0 -326px;background:url(../../../../landing/direct/annuity/images/event/170601_viralevent/pop3_bg.gif) no-repeat left top;}
		#marevent #layer_pop3 div.popcon .btnarea{text-align:center;padding:338px 44px 0 0;}

/* ----------------------------------------------------------
	7월이벤트
---------------------------------------------------------- */
.likeevent1707 a.btn-like{display:inline-block; position:absolute; top:100px; right:80px; width:182px; height:80px; background:url(../images/event/1707_likeevt_btn.jpg)no-repeat 0 -80px;text-indent:-99999em;font-size:0; }
.likeevent1707 a.btn-like:hover {background-position:1px 0;} 
.likeevent1707 .box-movie{width:540px; height:300px; position:absolute; top:110px; left:220px;}
