<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="interfaceLoader.MyInsuImpl">
	<insert id="insertMemberTerm">
			insert into member_term (id,name,phone,mobile,email,drive,cigar,drink,
			height,weight,danhobby,income,hospit1,hospit2,hospit3,enabled,instype,ins_name) values 
			(#{0},#{1},#{2},#{3},#{4},#{5},#{6},#{7},#{8},#{9},#{10},#{11},#{12},#{13},#{14},#{15},#{16})
	   </insert>
	<insert id="insertStatusTerm">
		insert into member_term_my (num,id,insname, insnum, remainpay,paidprem,prem,contstat,inssort, death_ins) values 
			(term_my_seq.NEXTVAL, #{0},#{1},#{2},#{3},#{4},to_number(#{5},'999999'),#{6},'term', #{7})
	</insert>
	<insert id="insertMemberProp">
			insert into member_prop (idx,id,pass,name,phone,mobile,email,riskpremium,enabled,instype,ins_name) values 
			(prop_mem_seq.NEXTVAL,#{0},#{1},#{2},#{3},#{4},#{5},#{6},#{7},#{8},#{9})
	   </insert>
	<insert id="insertStatusProp">
		insert into member_prop_my (num,id, insname, insnum, remainpay, paidprem, prem,contstat,inssort) values 
			(prop_my_seq.NEXTVAL, #{0},#{1},#{2},#{3},#{4},to_number(#{5}),#{6},'prop')
	</insert>
	<insert id="insertMemberAnnu">
		insert into member_annu(idx,id,name,phone,	mobile,	email,	drive,	cigar,	hospit1,hospit2,instype,ins_name,monthann,rprem)
		values (annu_mem_seq.NEXTVAL,#{0},#{1},#{2},#{3},#{4},#{5},#{6},#{7},#{8},#{9},#{10},#{11},#{12})
	</insert>
	<insert id="insertStatusAnnu">
		insert into member_annu_my(num,id,insname,insnum,remainpay,paidprem,prem,monthann,instart,contstat,paytime)
		values (annu_my_seq.nextval,#{0},#{1},#{2},#{3},#{4},#{5},#{6},#{7},#{8},#{9})
	</insert>
	<update id="updateStatus" parameterType="String">
		update 	
		<if test="param2.equals('annu')">
			member_annu_my
	   	</if>
		<if test="param2.equals('prop')">
			member_prop_my
	   	</if>
		<if test="param2.equals('term')">
			member_term_my
	   	</if>
		set contstat='E' where insnum=#{0} 
	</update>
	<update id="updateStatusDelete" parameterType="String">
		update
	<if test="param2.equals('annu')">
			member_annu_my
   	</if>
	<if test="param2.equals('prop')">
		member_prop_my
   	</if>
	<if test="param2.equals('term')">
		member_term_my
   	</if>
 	set contstat='N' where insnum=#{0} 
	</update>
</mapper>